.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: var(--dark);
  border: 1px solid;
  border-color: #d2a45b;
  border-radius: 12px;
  padding: 24px 20px;
  width: 90%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input,
textarea,
select,
button {
  background: var(--dark);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 8px;
  color: var(--text);
  font-family: var(--font-body);
  font-weight: bold;
  color-scheme: dark;
}

option {
  background: var(--dark);
  color: var(--text);
}

button:hover {
  background-color: #d2a45b;
  color: white;
  cursor: pointer;
  border-color: #d2a45b;
}
